<div class="sidebar">
  <span id="toggle" (click)="hamburger()"><span class="hamburger"></span></span>
  <header class="header-sidebar">
      <div class="foto-name">
          <img src="https://i.imgur.com/PuEhnay.png" alt="foto do Pedro">
          <p>João Pedro dos Santos</p>
          <span>Desenvolvedor FullStack Jr</span>
      </div>
      <span class="rede-sociais">
          <a href="https://www.linkedin.com/in/pedrosantos170/" target="_blank" rel="noopener noreferrer"><i class="fab fa-linkedin"></i></a>
          <a href="https://github.com/Pedro170" target="_blank" rel="noopener noreferrer"><i class="fab fa-github-square"></i></a>
          <a href="https://web.facebook.com/profile.php?id=100028389677293" target="_blank" rel="noopener noreferrer"><i class="fab fa-facebook-square"></i></a>
          <a href="https://www.instagram.com/p.silva170/" target="_blank" rel="noopener noreferrer"><i class="fab fa-instagram-square"></i></a>
      </span>
  </header>
  <ul class="nav_list">
      <li><a href="#inicio"><i class='bx bxs-home'></i><span class="link-name">Início</span></a></li>
      <li><a href="#sobre"><i class="fas fa-user"></i><span class="link-name">Sobre</span></a></li>
      <li><a href="#habilidades"><i class="fas fa-user-cog"></i><span class="link-name">Habilidades</span></a></li>
      <li><a href="#experiencia"><i class='bx bxs-briefcase'></i><span class="link-name">Experiência</span></a></li>
      <li><a href="#academico"><i class="fas fa-user-graduate"></i><span class="link-name">Acadêmico</span></a></li>
      <li><a href="#contato"><i class="fas fa-user-plus"></i><span class="link-name">Contato</span></a></li>
  </ul>
</div>

<div class="home_content">
  <div class="bloco" id="inicio">
      <section class="inicio">
          <header class="header-imagem">
              <img src="https://i.imgur.com/PuEhnay.png" alt="Foto do João Pedro">
          </header>
          <div class="titles-inicio">
              <h1>João Pedro dos Santos Silva</h1>
              <h2>Desenvolvedor FullStack</h2>
          </div>
      </section>
  </div>

  <div class="bloco" id="sobre">
      <section class="sobre">
          <header class="header">
              <h3>Sobre mim</h3>
          </header>

          <div class="container-sobre">
              <p>
                  Apaixonado por ciência e matemática, decidi desde cedo que essas seriam minhas áreas de atuação no mercado de trabalho, então iniciei uma graduação em engenharia civil, onde tive meu primeiro contato com T.I, em Algoritmos e lógica de programação.
                  Quando decidi dar baixa das forças armadas, tive a oportunidade de encontrar o Instituto da oportunidade social o IOS, onde fiz meu primeiro curso voltado para a área de tecnologia, que foi Desenvolvimento web, esta experiência foi incrível, pois o que mais me fascinou foi a interdisciplinaridade da tecnologia.
                  E por fim, decidi escolher focar meus estudos na área de programação, porque amo solucionar problemas e aprender com eles. Formado pelo bootcamp Dev Java FullStack Jr da Generation Brasil, busco uma oportunidade para aplicar e aprimorar meus conhecimentos como desenvolvedor.
              </p>
          </div>

          <div class="container-sobre info">
              <li><span><i class='bx bxs-user'></i>idade: </span> 22 anos</li>
              <li><span><i class="fa fa-male" aria-hidden="true"></i><i class="fa fa-female" aria-hidden="true"></i> Estado Civil: </span>Solteiro</li>
              <li><span><i class='bx bxs-map'></i>Localidade:</span>São Paulo - SP</li>
              <li><span><i class='bx bxs-building-house'></i>Endereço: </span>Rua Ouro Grosso, N° 1406</li>
          </div>
      </section>
  </div>

  <div class="bloco" id="habilidades">
      <section class="habilidades">
          <header class="header">
              <h3>Habilidades</h3>
          </header>

          <div class="container-habilidades">
              <div class="container-sobre hab-tect">
                  <li><span><i class="fa fa-html5" aria-hidden="true"></i>Html</span><div class="progress"><span class="barra html">85%</span></div></li>
                  <li><span><i class='bx bxl-css3'></i>Css</span><div class="progress"><span class="barra css">80%</span></div></li>
                  <li><span><i class="fab fa-js-square"></i>JavaScript</span><div class="progress"><span class="barra js">65%</span></div></li>
                  <li><span><i class='bx bxl-angular'></i>Angular</span><div class="progress"><span class="barra angular">50%</span></div></li>
                  <li><span><i class="fab fa-java"></i>Java</span><div class="progress"><span class="barra java">60%</span></div></li>
                  <li><span><i class='bx bxs-data'></i>MySql</span><div class="progress"><span class="barra sql">70%</span></div></li>
              </div>

              <div class="container-sobre hab-comp">
                  <li><span><i class="fas fa-comments"></i>Comunicação</span><div class="progress"><span class="barra sql">75%</span></div></li>
                  <li><span><i class="fas fa-user-clock"></i>Proatividade</span><div class="progress"><span class="barra css">70%</span></div></li>
                  <li><span><i class="fas fa-users"></i>Liderança</span><div class="progress"><span class="barra js">70%</span></div></li>
                  <li><span><i class="fas fa-people-carry"></i>Trabalho em equipe</span><div class="progress"><span class="barra angular">80%</span></div></li>
                  <li><span><i class="fas fa-hands-helping"></i>Empatia</span><div class="progress"><span class="barra emp">95%</span></div></li>
                  <li><span><i class="fas fa-hand-holding-water"></i>Responsabilidade Pessoal</span><div class="progress"><span class="barra resp">90%</span></div></li>
              </div>
          </div>
      </section>
  </div>

  <div class="bloco" id="experiencia">
      <section class="experiencia">
          <header class="header">
              <h3>Experiências Profissionais</h3>
          </header>

          <div class="container-sobre">
              <p>
                  Atualmente estou em busca da minha primeira oportunidade na aréa da tecnologia no mercado de trabalho, programo a quase dois anos e por meio desse currículo digital venho mostrar o que sei fazer com as tecnologias aqui apresentadas e tecnologias que envolve também o back-end.
              </p>
          </div>

          <div class="container-experiencia">
              <div>
                  <p>
                      <strong>Força Aérea Brasileia</strong>
                      na força aérea de Agosto de 2018 a Julho de 2019, entrei pelo serviço militar obrigatório, onde durante 11 meses passei por diversas experiências, saindo de recruta à soldado de segunda classe, tendo como obrigação os seguintes serviços: segurança das instalações , missões presidenciais, atendimento ao público  e serviços administrativos.
                  </p>
              </div>

              <div>
                  <p>
                      <strong>Segurança Privada</strong>
                      quando cheguei em São Paulo em 2017, ainda não tinha me alistado para o serviço militar obrigatório, então tive que buscar um emprego não registrado como guarda de um barrio de classe alta da zona norte, Jardim São Bento, onde prestava os seguintes serviços, rondas e vistorias dos prédios. Nos anos de 2017 a 2018.
                  </p>
              </div>

              <div>
                  <p>
                      <strong>Auxiliar de Estoque</strong>
                      mesmo com um curto período de um mês, tive a oportunidade de desenvolver a minha comunicação e isso foi muito muito importante, pois a um tempo vinha estudando formas de me comunicar melhor. Esse curto período de tempo teve um ‘porquê’, que foi entrar no curso de desenvolvedor java da Generation Brasil.
                  </p>
              </div>

              <div>
                  <p>
                      <strong>Central Motos</strong>
                      essa foi minha primeira experiência profissional de 2015 a 2016, com 16 anos e querendo minha liberdade financeira, busquei meu primeiro emprego como auxiliar de mecânico, onde efetuei os seguintes serviços: manutenção de motocicletas, fazer trocas de peças de motos em geral, fazer trocas de óleo, auxiliar o mecânico em serviços diversos e limpeza de ferramentas e da oficina.
                  </p>
              </div>
          </div>
      </section>
  </div>

  <div class="bloco" id="academico">
      <section class="academico">
          <header class="header">
              <h3>Histórica Acadêmica</h3>
          </header>

          <div class="container-academico">
              <div>
                  <p>
                      <b>Graduação em Engenharia Civil</b><br>
                      <b>Local: </b> Centro Univertário das Faculdades metropolitas Unidas.<br>
                      <b>Duração: </b> 5 anos (2018 - 2023) <b> - Cursando</b>
                  </p>
              </div>

              <div>
                  <p>
                      <b>Desenvolvedor Web Java Jr</b><br>
                      <b>Local: </b> Generation Brasil.<br>
                      <b>Duração: </b> 447 horas (Mar./2021)<b> - Concluido</b>
                  </p>
              </div>

              <div>
                  <p>
                      <b>Desenvolvedor Web</b><br>
                      <b>Local: </b> Instituto da Oportunidade Social (IOS).<br>
                      <b>Duração: </b> 320 horas (Dez./2019)<b> - Concluido</b>
                  </p>
              </div>

              <div>
                  <p>
                      <b>JavaScript Básico</b><br>
                      <b>Local: </b> Curso em Vídeo.<br>
                      <b>Duração: </b> 40 horas (Ago./2020)<b> - Concluido</b>
                  </p>
              </div>

              <div>
                  <p>
                      <b>Java Básico</b><br>
                      <b>Local: </b> Curso em Vídeo.<br>
                      <b>Duração: </b> 40 horas (Jan./2021)<b> - Concluido.</b>
                  </p>
              </div>

              <div>
                  <p>
                      <b style="text-transform: uppercase;">Html5</b><br>
                      <b>Local: </b> Curso em Vídeo.<br>
                      <b>Duração: </b> 40 horas (Nov./2019)<b> - Concluido.</b>
                  </p>
              </div>
          </div>
      </section>
  </div>

  <div class="bloco" id="contato">
      <section class="contato">
          <header class="header">
              <h3>Contatos</h3>
          </header>

          <div class="container-contato">
              <div class="info-contato">
                  <p><i class="fas fa-envelope"></i><b> E-mail: </b>Joaosilva8882@gmail.com</p>
                  <p><a href="(11)970277484" target="_blank" rel="noopener noreferrer"><i class="fas fa-mobile"></i><b> Celular: </b>(11) 9 7027-7484</a></p>
                  <p><a href="https://drive.google.com/file/d/1JbN1J7vB4MTNW1HDijCcZETkCFXBPLgA/view?usp=sharing"  target="_blank" rel="noopener noreferrer" download><i class="fas fa-file-pdf"></i><b>Currículo: </b>João Pedro dos Santos Silva</a></p>
              </div>

              <form class="form">
                  <input [(ngModel)]="message.nome" ngModel minlength="3" type="text" name="nome" id="nome" placeholder="nome" required #nome="ngModel">
                  <span class="nameInput" *ngIf="!nome.valid && nome.touched">nome é obrigatório</span>

                  <input [(ngModel)]="message.email" type="email" name="email" id="email" placeholder="e-mail" required #email="ngModel" pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
                  <span class="nameInput" *ngIf="!email.valid && email.touched">e-mail inválido</span>

                  <textarea [(ngModel)]="message.mensagens" ngModel="255" maxlength="255" name="mensagem" id="mensagem" cols="30" rows="10" placeholder="mensagem" style="resize: none;" required #x></textarea>
                  <span class="count">{{255 - x.textLength + ' / 255'}}</span>
                  <input type="button" value="Enviar" [disabled]="!email.valid" (click)="enviar()">
              </form>
          </div>

          <div class="rodape">
              <p> &copy; 2021 Todos os direitos reservados a João Pedro dos Santos Silva</p>
          </div>
      </section>
  </div>
</div>

